$offblack: #505050;
$offgray: #808080;
$lightgray: #808080;

body {
	font-family: Lato;
}

h3 {
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 300;
}

.opening-card {
	margin-top: 80px;

	h2, p {
		font-family: Lato;
		font-size: 30px;
		font-weight: 900;
		color: $offblack
	}

	h2 {
		margin-bottom: 28px;
	}

	p {
		line-height: 1.18em;
		margin-bottom: 30px;
	}

	ul {
		padding-left: 0;
		padding-top: 5px;
		margin-bottom: 80px;
		li {
			display: inline-block;
			margin-right: 16px;
		}
	}

	.fa {
		color: $offblack;
		font-size: 2em;
	}
}

.side-card {
	p {
		margin-top: 20px;
		margin-bottom: 10px;
		font-family: Lato;
		font-size: 16px;
		font-weight: 300;
		color: $offgray;
	}	

	h2 {
		color: $lightgray;
	}

	h4 {
		padding-top: 12px;
		font-family: Lato;
		font-size: 20px;
		font-weight: 600;
		color: $offgray;
	}

	.links { 
		margin-bottom: 0;
		li {
			display: block;
			font-size: 16px;
			a {
				color: $offgray;
			}
		}
	}

}